{{define "accounts"}}
{{ template "header.html" . }}
<div class="container">
    <h3 class="mt-3">Cadastrar conta</h3>

    <!-- Formulário de Cadastro/Edição -->
    <div class="row">
        <form id="crud-form" class="row g-3">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <label for="inputName" class="form-label">Nome</label>
                    <input type="text" name="name" class="form-control" id="inputName" required>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="ms-2 mt-2 mb-2 col-md-6 form-check form-switch">
                    <input class="form-control form-check-input" type="checkbox" name="to_receive" role="switch" id="toreceive">
                    <label class="form-label form-check-label" for="toreceive">É uma conta a receber?</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                  <button type="submit" class="btn btn-primary">Cadastrar</button>
                </div>
            </div>
        </form>
    </div>

    <hr>

    <div class="row">
        <form id="generate-balance" class="row g-3">
            <div class="row">
                <div class="col-md-6">
                    <label for="inputDate" class="form-label">Escolha uma data para gerar o saldo das contas</label>
                    <input type="date" name="date_to_balance" class="form-control" id="inputDate" required>
                  </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                  <button type="submit" class="btn btn-primary">Gerar até a data escolhida</button>
                </div>
            </div>
        </form>
    </div>

    <hr>

    <h3 class="mt-3">Contas</h3>
    <!-- Tabela de Listagem -->
    <table class="mt-3" id="data-table" width="90%">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Saldo</th>
                <th>A receber</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Nome</th>
                <th>Saldo</th>
                <th>A receber</th>
                <th>Ações</th>
            </tr>
        </tfoot>
    </table>
    <script>
        document.addEventListener("DOMContentLoaded", async () => {
            
            // Carregar configuração do backend
            const configResponse = await fetch(`/crud-config/accounts`);
            const config = await configResponse.json();

            document.title = `Gerenciamento de ${config.title}`;

            const apiUrl = config.apiUrl;
            const form = document.getElementById("crud-form");
            
            var table = new DataTable('#data-table', {
                ajax: apiUrl,
                processing: true,
                serverSide: true,
                pageLength: 50,
                columns: [
                    {"data": "name"},
                    {"data": "balance"},
                    {
                        "data": "to_receive",
                        "render": function(data, type, row) {
                            if(data){
                                return "sim";
                            }
                            return "não";
                        }
                    },
                    {
                        "data": null,
                        "orderable": false,
                        "searchable": false,
                        "render": function(data, type, row) {
                            return `
                                <a class="btn btn-outline-warning" href="${config.formEdit+row.id}" role="button">✏️ Editar</a>
                            `;
                        }
                    }
                ]
            });

            
            // Carregar Dados da API
            async function loadData() {
                table.draw()
            }

            // Criar Novo Registro
            form.addEventListener("submit", async (e) => {
                e.preventDefault();
                const formData = new FormData(form);
                if(formData.get("to_receive") == "on"){
                    formData.set("to_receive", 1)
                }else{
                    formData.set("to_receive", 0)
                }
                console.log(formData.get("name"), formData.get("to_receive"))
                console.log("apiUrl", apiUrl)
                
                await fetch(apiUrl, {
                    method: "POST",
                    body: formData,
                });

                form.reset();
                loadData();
            });

            document.getElementById("generate-balance").addEventListener("submit", async (e) => {
                e.preventDefault();
                const formData = new FormData(e.target);
                
                console.log("apiUrl", config.urlGetBalance)
                
                var res = await fetch(config.urlGetBalance, {
                    method: "POST",
                    body: formData,
                });

                const json = await res.json();
                if(res && res.status != 200 && json && json.message){
                    alert(json.message)
                    return;
                }

                e.target.reset();
                loadData();
            });

            // Deletar Registro
            window.deleteItem = async (id) => {
                if (confirm("Tem certeza que deseja excluir este item?")) {
                    await fetch(`${apiUrl}/${id}`, { method: "DELETE" });
                    loadData();
                }
            };

            // Editar Registro
            window.editItem = async (id) => {
                const response = await fetch(`${apiUrl}/${id}`);
                const data = await response.json();
                config.fields.forEach(field => {
                    if (!field.readonly) {
                        document.querySelector(`[name="${field.name}"]`).value = data[field.name] || "";
                    }
                });
            };
        });
    </script>
</div>
{{ template "footer.html" }}
{{end}}