{{define "transactions"}}
{{ template "header.html" . }}
<div class="col-sm-9">
    <h3 class="mt-3">Transações registradas</h3>

    <!-- Tabela de Listagem -->
    <table class="mt-3" id="data-table" width="90%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Data</th>
                <th>Tipo</th>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Categoria</th>
                <th>Conta</th>
                <th>Comprovante</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Id</th>
                <th>Data</th>
                <th>Tipo</th>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Categoria</th>
                <th>Conta</th>
                <th>Comprovante</th>
            </tr>
        </tfoot>
    </table>
    <script>
        document.addEventListener("DOMContentLoaded", async () => {
            const configResponse = await fetch(`/crud-config/transactions`);
            const config = await configResponse.json();

            const apiUrl = config.apiUrl;

            var table = new DataTable('#data-table', {
                ajax: apiUrl,
                processing: true,
                serverSide: true,
                columns: [
                    {"data": "id"},
                    {"data": "date_at"},
                    {"data": "type"},
                    {"data": "description"},
                    {"data": "value"},
                    {"data": "category.name"},
                    {"data": "account.name"},
                    {
                        "data": "proof",
                        "render": function(data, type, row) {
                            console.log("render")
                            console.log(data, type, row)
                            if (data) {
                                return `<a href="${data}" target="_blank">Abrir</a>`;
                            }
                            return ""; 
                        }
                    }
                ]
            });

            
            async function loadData() {
                table.draw()
            }

            // Deletar Registro
            window.deleteItem = async (id) => {
                if (confirm("Tem certeza que deseja excluir este item?")) {
                    await fetch(`${apiUrl}/${id}`, { method: "DELETE" });
                    loadData();
                }
            };

            // Editar Registro
            window.editItem = async (id) => {
                const response = await fetch(`${apiUrl}/${id}`);
                const data = await response.json();
                config.fields.forEach(field => {
                    if (!field.readonly) {
                        document.querySelector(`[name="${field.name}"]`).value = data[field.name] || "";
                    }
                });
            };
        });
    </script>
</div>
{{ template "footer.html" }}
{{end}}